@use "./variables" as vars ;

.generales{

 display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 color: vars.$Negro;
  gap: 10px;
  min-width: 600px;
  margin-bottom: 1rem;
  color: vars.$Blanco;

}

// a borrar

.dropdown-usuarios {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid #ccc;
  max-height: 150px;
  overflow-y: auto;
  position: absolute;
 
  width: 30%;
  
  background-color: white;
  
  z-index: 1000;
}

.dropdown-usuarios li {
  padding: 8px;
  cursor: pointer;
}

.dropdown-usuarios li:hover {
  background-color: #f0f0f0;
}

.oculto {
  display: none;
}

#semana{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 30px;
  left: 10px;
  right: 10px;
  gap: 10px;

  #tablaResumen{
   border-collapse: separate;
   border-spacing: 20px 10px;
   width: 80%;
   text-align: center;
   th{
    td{
      padding: 10px;
    }
   }
  }
}

#armadoDeRutina{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  ul{
    list-style: none;
  
  }
}
